/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

        .navbar-nav {
            font-size: 12px;
        }


         #logo {
        height: 7vh;
        bottom: 2vh;
        }

        .navbar-brand p {
        right: -5vw;
        bottom: 8vh;
        }

        .navbar-brand span {
        left: 5vw;
        bottom: 9vh;
        font-size: 17px;
        }





}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {


        .navbar-nav {
            font-size: 11px;    
        }

        .navbar-nav {
            float: left;
            font-size: 13px;
            position: relative;
            left: 15vw;
        }


        #logo {
        height: 6vh;
        bottom: 2vh;
        }

        .navbar-brand p {
        right: -6vw;
        bottom: 7vh;
        font-size: 15px;
        }

        .navbar-brand span {
        left: 8vw;
        bottom: 7vh;
        font-size: 23px;
        }

        #Pengumuman{
        left: 57vw;
        }

        #tombolpengumuman {
        left: 57vw;
        }

        #agenda img {
        height: 210px;
        }






 
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

     #Pengumuman{
    left: 56vw;
    width: 315px;
    height: 281px;
    }

    #logo {
    height: 15vh;
    bottom: 4vh;
    }

    .navbar-brand p {
    right: -3vw;
    bottom: 18vh;
    }

    .navbar-brand span {
    left: 7vw;
    bottom: 20vh;
    }

    #tombolpengumuman {
    left: 55vw;
    width: 315px;
    }

    #agenda img {
    left: 26vw;
   }

   #pilihankadus {
    position: relative;
    top: 7vh;
    }



}


    
@media only screen and (min-width: 320px) and (max-width: 479px) {
    
    html{
        background-image: none;
        font-size: 13px;
        width: 100%;
    }

    body {
        background-color: transparent;
        background-image: none;
        width: 97%;
        
    }

    a.navbar-brand {
    padding: 0px 23px;
    }
    

}
