html {
   height: 1023px;
   
}

body{
   background-image: url("/images/bg.jpg");

   /* Full height */
   height: 1023px;
   width: 100%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   font-family: Lato;
   font-size: 0.8rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color:#ffffff;
}

a.bidangpemerintahan_link.active{
 color:#ffffff; 
}




#logotext{
	text-transform: uppercase;
	font-weight: bold;
	line-height: 46px;
    font-size: 33px;
}

#logotext2{
	text-transform: uppercase;
    font-size: 16px;
    line-height: 5px;
    font-weight: bold;
}

#spacetextlogo{
	display: inline-grid;
}

#boxtext{
	font-weight: bold;
	line-height: 46px;
    font-size: 28px;
    color: black;
}

.bg-light{
	background-color: transparent!important;
}

a.nav-link {
	display: inline-grid;
    font-weight: bold;
    color: black;
    width: 105px;
    margin: 0px 15px;
    line-height: 16px;
}

.navbar-brand {
    padding-top: 2.5rem;
    margin-left: -2.3rem;
}

dl, ol, ul {
    margin-top: 1.5rem;
}

a.dropdown-toggle{
	font-weight: bold;
    color: black!important;
    top: 19px;
    position: relative;
    left: 31px;
}

.row {
    margin-right: -40px;
    margin-left: -40px;
}

.tentang_desa{
	background-color: rgba(100, 203, 135, 0.5);
}
.berita_terbaru{
	background-color: rgba(127, 162, 221, 0.5);
}
.pengumuman{
	background-color: rgba(221, 217, 127, 0.5);
}


#kotak1 .inner{
	height: 317px;
	margin: 0px -11px;
}

#kotak2 .outter img{
	height: 230px;
	width: 345px;
    margin: 18px -11px;
    
}

#kotak2 .outter2 img{
	height: 230px;
    width: 230px;
    margin: 18px -52px;
}

#kotak2 .inner1{
  position: absolute;
  bottom: 20px;
  right: 167px;
  color: #000000;
  white-space: nowrap;
  text-shadow: -1px 0 rgba(255,255,255,.7), 0 1px rgba(255,255,255,.7), 1px 0 black, 0 -1px rgba(255,255,255,.7);
}

#kotak2 .inner2{
  position: absolute;
  bottom: 20px;
  right: 71px;
  color: #000000;
  white-space: nowrap;
  text-shadow: -1px 0 rgba(255,255,255,.7), 0 1px rgba(255,255,255,.7), 1px 0 black, 0 -1px rgba(255,255,255,.7);
}

#kotak2 .inner3{
  position: absolute;
  bottom: 20px;
  right: 255px;
  color: #000000;
  white-space: nowrap;
  font-size: 23PX;
}

#kotak2 .inner4{
  position: absolute;
  bottom: 20px;
  right: 119px;
  color: #000000;
  white-space: nowrap;
  text-shadow: -1px 0 rgba(255,255,255,.7), 0 1px rgba(255,255,255,.7), 1px 0 black, 0 -1px rgba(255,255,255,.7);
}

#kotak1{
	padding-top: 40px;
}


#kotak1 p{
	margin: 0px 10px;
}

#kotak3{
	background-color: rgba(196, 196, 196, 0.5);
	height: 90px;
	margin: 15px 107px;
	
}


#kotak3 i{
	font-size: 51px;
	margin: 7px 37px;
}


.h4, h4 {
    font-size: 0.85rem;
    color:  black;
}

.fa, .fab, .fal, .far, .fas {
    line-height: 1;
    color: black;
}

p {
    margin-bottom: 0rem;
}

.container-fluid {
    padding-right: 110px;
    padding-left: 110px;
}


footer{
	background-color: rgba(0, 0, 0, 0.7);
}


.kotak1bidangpemerintahan,.kotak2bidangpemerintahan,.kotakpanduanpenduduk,.kotak1halamanbisnis,.kotak2Ahalamanbisnis,.kotak2Bhalamanbisnis,.kotak3Ahalamanbisnis,.kotak3Bhalamanbisnis,.kotak1Pengunjung,.kotak2APengunjung,.kotak2BPengunjung,.kotak3APengunjung,.kotak3BPengunjung,.kotak4Pengunjung,.kotak5Pengunjung,.kotak6Pengunjung{
	background-color: rgba(196, 196, 196, 0.5);
}

#app{
	height: 948px;
}

.kotak1bidangpemerintahan li a{
    list-style-type: none;
    font-size: 23px;
    line-height: 62px;
    color: #000000;
    text-decoration: none;
}

.kotak2bidangpemerintahan{
  margin: 25px 0px;
}
.kotak1Pengunjung,.kotak2APengunjung,.kotak2BPengunjung,.kotak3APengunjung,.kotak3BPengunjung,.kotak4Pengunjung,.kotak5Pengunjung,.kotak6Pengunjung{
  width: 315px
}

.kotak5Pengunjung,.kotak6Pengunjung{
  margin: 0px -25px;
}

.kotak3Bhalamanbisnis li a{
  font-size: 19px;
  text-decoration: none;
  color: #000000;
}



