
body{
	background-image: none;
}

.bg-light{
    background-color: #138FC2!important;
}

.mainmenu-area {	
	background-color: #138fc2;
}


#transparansi{
	height: auto;
	background-color: #ffffff;
}

#transparansi img{
	width: 100%;
}


